/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/*
    MAIN
*/

main .col .images-container {
    position: relative;
    height: 400px;
    width: 1000px;
}

main .col .image-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

main .col .image-slide.active {
    display: block;
}

main .col .image-slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

main .col .description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

main .col .buttons > i:first-child {
    top: 400px;
    left: 10px;
    z-index: 3;
    cursor: pointer;
}

main .col .buttons > i:last-child {
    top: 400px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
}